@model List<Ness_Mizarhi_Zeev_Test.Core.Models.Operation>

@{
    var model = Model;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Todo Details</title>

    <link rel="stylesheet" href="~/css/index.css" />
</head>
<body>

    <div class="form-container">

        <!-- Insert command -->
        <div class="row">
            <input type="button" value="Insert command" onclick="createOperator()" id="newOperatorBtn" />
            <input type="text" id="newOperator" placeholder="Enter new operator..." />
            <input type="text" id="operatorDescription" placeholder="Enter new operator description..." />
        </div>

        <!-- Main calculation row -->
        <div class="row">
            <label>Field A</label>
            <input type="number" id="FieldA" />

            <label>Operation</label>
            <select name="operationId" id="operations">
                @foreach (var op in Model)
                {
                    <option value="@op.OperationId">@op.Operator</option>
                }
            </select>

            <label>Field B</label>
            <input type="number" id="FieldB" />

            <input type="button" value="Calculate" onclick="calculate()" />
        </div>

        <!-- Result -->
        <div class="row">
            <label>Result</label>
            <textarea id="result" rows="3"></textarea>
        </div>

    </div>
    <script src="~/js/index.js"></script>
</body>
</html>